.project
.classpath
.settings
target
generated
*~
.DS_Store
.idea
*.iml
.java-version
.lucene/

copyfrom

# Angular Frontend
src/main/frontend/node_modules/
src/main/frontend/.angular/
src/main/frontend/dist/
src/main/frontend/*.log